.grid-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.grid-item{
    width: 10rem;
    margin: 2rem;
}
.grid-main{
    width: 30rem;
}
.loading-screen{
    height: 100%;
    padding: 0;
    margin-top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.loading-screen-inside{
    width: 20rem;
    text-align: center;

}